

 .slds-card {
     width: 120%; /* Adjust the width as per your preference */
     padding: 10px;
     border: 1px solid #d8dde6;
     border-radius: 5px;
     margin: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 }

 .slds-modal__close {
   z-index: 2;
 }




